* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hide {
    display: none;
}

.container1, .container2 {
    width: 428px;
    padding: 48px 64px 64px 64px;
    
    text-align: center;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);
}

body {
    height: 100vh;
    background: linear-gradient(45deg, #190361 0%, #B0F 100%);
    display: grid;
    place-content: center;
    
}

h1 {
    color: #34355B;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p {
    color: #34355B;
    text-align: center;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 20px;
}

.sorte {
    background: #E4EDF1;
    box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50);
    font-family: Dancing Script;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    animation: aparecer 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

img {
    padding: 20px;
}

.biscoito {
    cursor: pointer;
}

.biscoito:hover {
    animation: tremer 0.9s linear infinite both;
}

button {
    background: #ff9500;
    color: #fff;
    padding: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    padding: 20px 40px;
}

button:hover {
    background: rgba(255, 136, 0, 0.658);
}


  @keyframes tremer {
    0% {
              transform: translate(0);
    }
    10% {
              transform: translate(-2px, -2px);
    }
    20% {
              transform: translate(2px, -2px);
    }
    30% {
              transform: translate(-2px, 2px);
    }
    40% {
              transform: translate(2px, 2px);
    }
    50% {
              transform: translate(-2px, -2px);
    }
    60% {
              transform: translate(2px, -2px);
    }
    70% {
              transform: translate(-2px, 2px);
    }
    80% {
              transform: translate(-2px, -2px);
    }
    90% {
              transform: translate(2px, -2px);
    }
    100% {
              transform: translate(0);
    }
  }
  
  @keyframes aparecer {
    0% {
              transform: scale(0);
              transform-origin: 50% 100%;
              opacity: 1;
    }
    100% {  
              transform: translateY(0px);
              transform: scale(1);
              transform-origin: 50% 100%;
              opacity: 1;
    }
  }